* text=auto

*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.command text eol=lf
*.applescript text eol=lf
*.java text eol=lf
*.cs text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.apk binary
*.idsig binary
*.jar binary
*.class binary
*.dex binary
*.dll binary
*.exe binary
*.zip binary
*.so binary
*.png binary
